@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid 2px blue; */
}

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    /* border: solid 1px gray; */
}

.logo {
    /* border: solid 2px red; */
    position: absolute;
    top: -12px;
    font-size: large;
    left: -26px;
    transform: scale(0.653);
    background-color: #f5ac72;
    padding: 15px;
    border-radius: 10px;
}

.title {
    position: absolute;
    top: 65px;
    background-color: #2b212f;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
}

#video {
    width: 100%;
    height: 100%;
}

.buttonsCon {
    padding: 0px;
    /* border: solid 2px rebeccapurple; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}

.rights_button {
    /* border: solid 2px green; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* position: absolute; */
    right: 0px;
    /* border: solid 2px red; */
    padding: 9px;
    gap: 10px;
    border-radius: 9px;
    /* display: none; */
    overflow: hidden;
}

#buttonContainer {
    /* position: absolute; */
    padding: 9px;
    border-radius: 9px;
    top: 155px;
    gap: 10px;
    left: 13px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* border: solid 2px red; */
}

.button {
    width: 110px;
    height: 50px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.recommend-button, .recommend-button-recommand {
    position: absolute;
    bottom: 20px;
    background-color: #f5ac72;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.image-container {
    width: 100px;
    height: 100px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 10;
    border: solid 2px #facfad;
    border-radius: 10px;
}

/* the outline pagse style */

.outline_container {
    /* border: solid 2px red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
}

#logo-outline {
    font-size: large;
    position: absolute;
    left: -14px;
    top: 5px;
    transform: scale(0.7);
}

.outline_container h1 {
    position: absolute;
    top: 54px;
    font-size: 19px;
    background-color: #2b212f;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
}

.image_outline {
    /* border: solid 2px blue; */
    width: 52%;
    position: absolute;
    top: 30px;
}

#video-outline {
    /* border: solid 2px green; */
    position: absolute;
    z-index: -1;
    /* width: 100%; */
    top: 30px;
}

#overlay {
    /* display: inline; */
    position: relative;
    width: 100%;
    top: 30px;
    height: 100%;
    transform: scale(1.15);
    z-index: 1;
}

#video-outline {
    /* border: solid 2px green; */
    position: absolute;
    z-index: -1;
    /* width: 100%; */
    top: 5px;
}

/* the recommandation page style */

.recommandation_outline {
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
}

.title_recommandation {
    border: solid 2px green;
    
}


.recommandation-buttons-container {
    display: flex;
    position: absolute;
    top: 216px;
    /* background-color: #f5ac72; */
    /* border-radius: 11px; */
    color: #fff;
    width: 500px;
    gap: 31px;
}

.dropdown {
    flex: 1;
    display: flex;
    gap: 15px;
    flex-direction: column;
    /* border: 1px solid #2b212f; */
    width: 25%;
}

.dropbtn {
    background-color: #F5AC72;
    color: #fff;
    padding: 10px;
    font-size: 21px;
    text-align: center;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    gap: 10px;
    color: #2b212f;
    flex-direction: column;
    width: 100%;
}

.dropdown-content div {
    padding: 10px;
    text-align: center;
    background-color: #F5AC72;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
}

.recommanded-images {
    width: 15%;
    display: none;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    gap: 10px;
    padding: 15px;
}

.recommanded-image-container {
    width: 100%;
}
  
.cloth-image-recommand {
    width: 100%;
    height: auto;
    border: solid 2px black;
    border-radius: 8px;
}

#shuffle-icone {
    font-size: 130%;
    color: white;
    background-color: #f5ac72;
    padding: 10px;
    border-radius: 20px;
}

#spin-icone-second {
    font-size: 130%;
    background-color: #f5ac72;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    display: none;
}

#spin-icones {
    font-size: 40px;
    color: #facfad;
    position: absolute;
    top: 27px;
    display: none;
}

.arrow-container {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    width: 60%;
    display: none;
}

.top-arrow-class, .bottom-arrow-class, .shoes-arrow-class {
    display: flex;
    justify-content: space-between;
}

#arrow-icone {
    font-size: 220%;
    color: #F5AC72;
}

/* Animation for the buttom and all of the page */

@keyframes  dropdownContentAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animationdropdownContentClass {
    opacity: 0;
    transform: translateY(20px);
    animation: dropdownContentAnimation 0.5s forwards;
}