<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Recommandation Page</title>
  </head>
  <body>
    <div class="container">
      <div class="recommandation_outline">
        <div class="logo" id="logo-outline">
          <svg
            width="183"
            height="68"
            viewBox="0 0 183 68"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_162_2)">
              <path
                d="M2.79003 67.3276C1.10003 66.4376 0.260028 65.3776 0.260028 64.1376L2.78285e-05 8.05757C2.78285e-05 8.05757 -0.0299722 5.86757 1.88003 4.45757C3.79003 3.04757 7.28003 2.03757 11.2 5.57757L57.07 45.0276L105.45 0.00756836L106.56 13.2776C106.69 14.7776 106.13 16.2576 105.05 17.3076L64.8 56.1876C64.17 56.7276 63.2 57.2476 61.88 57.7476C60.56 58.2476 59.14 58.4976 57.59 58.4976C54.27 58.4976 51.73 57.7776 49.96 56.3276L12.15 23.7376L12.41 64.0976V64.1376C12.41 65.3776 11.57 66.4376 9.88003 67.3276C8.19003 68.2176 4.48003 68.2176 2.79003 67.3276Z"
                fill="#fff"
              />
              <path
                d="M179.779 0.6775C181.469 1.5675 182.309 2.6275 182.309 3.8675L182.569 59.9475C182.569 59.9475 182.599 62.1375 180.689 63.5475C178.779 64.9575 175.289 65.9675 171.369 62.4275L125.499 22.9775L77.1285 67.9975L76.0185 54.7275C75.8885 53.2275 76.4485 51.7475 77.5285 50.6975L117.779 11.8175C118.409 11.2775 119.379 10.7575 120.699 10.2575C122.019 9.7575 123.439 9.5075 124.989 9.5075C128.309 9.5075 130.849 10.2275 132.619 11.6775L170.429 44.2575L170.169 3.8975V3.8575C170.169 2.6175 171.009 1.5575 172.699 0.6675C174.389 -0.2225 178.099 -0.2225 179.789 0.6675L179.779 0.6775Z"
                fill="#fff"
              />
            </g>
            <defs>
              <clipPath id="clip0_162_2">
                <rect width="182.66" height="67.99" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <h1 class="title" class="title_recommandation">Hello world</h1>
        <img
          src="{{ url_for('video_feed_recommandation') }}"
          style="width: 100%"
          id="video-recommandation"
        />

        <div class="recommandation-buttons-container">
            <div class="dropdown" id="seasonDropdown">
                <div class="dropbtn">Season</div>
                <div class="dropdown-content">
                    <div>Winter</div>
                    <div>Summer</div>
                    <div>Spring</div>
                    <div>Fall</div>
                </div>
            </div>
            <div class="dropdown" id="genderDropdown">
                <div class="dropbtn">Gender</div>
                <div class="dropdown-content">
                    <div>Male</div>
                    <div>Female</div>
                    <div>Unisex</div>
                    <div>Kids</div>
                </div>
            </div>
            <div class="dropdown" id="colorDropdown">
                <div class="dropbtn">Color</div>
                <div class="dropdown-content">
                    <div>Red</div>
                    <div>Blue</div>
                    <div>Green</div>
                    <div>Yellow</div>
                </div>
            </div>
            <div class="dropdown" id="styleDropdown">
                <div class="dropbtn">Style</div>
                <div class="dropdown-content">
                    <div>Casual</div>
                    <div>Formal</div>
                    <div>Sport</div>
                    <div>Vintage</div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Establish a connection to the WebSocket
            var socket = io.connect(window.location.protocol + '//' + window.location.host);
        
            // Listen for the 'button_hover_recommand' event from the server
            socket.on('button_hover_recommand', function (message) {
                var buttonName = message.button_recommand;
                showDropdownContent(buttonName);
            });
        
            function showDropdownContent(buttonName) {
                // Hide all dropdown contents first
                var dropdownContents = document.querySelectorAll('.dropdown-content');
                dropdownContents.forEach(function (content) {
                    content.style.display = 'none';
                });
        
                // Display the relevant dropdown content based on the button name
                var dropdown;
                switch (buttonName) {
                    case 'Season':
                        dropdown = document.querySelector('#seasonDropdown .dropdown-content');
                        break;
                    case 'Gender':
                        dropdown = document.querySelector('#genderDropdown .dropdown-content');
                        break;
                    case 'Color':
                        dropdown = document.querySelector('#colorDropdown .dropdown-content');
                        break;
                    case 'Style':
                        dropdown = document.querySelector('#styleDropdown .dropdown-content');
                        break;
                }
        
                if (dropdown) {
                    dropdown.style.display = 'flex';
                }
            }
        });                     
    </script>
  </body>
</html>
